# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist

# Misc
.DS_Store
*.pem

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
android/app/build
android/app/src/main/assets/public
android/app/src/main/assets/capacitor.config.json

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Gemini/Antigravity
.gemini
.antigravityignore
